<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
 <script src="js/vue.min.js"></script>
 <script src="js/axios.min.js"></script>
 <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css"/>       
        <link href="assets/css/codemirror.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/ace.min.css" />
        <link rel="stylesheet" href="font/css/font-awesome.min.css" />
        <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
		<script src="js/jquery-1.9.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/typeahead-bs2.min.js"></script> 
        <script src="js/H-ui.js" type="text/javascript"></script>          	
        <script src="assets/layer/layer.js" type="text/javascript" ></script>      
			<script src="myJs/Refund_detailed.js" type="text/javascript" ></script>
<title>退款详细</title>
</head>

<body>
<div class="margin clearfix">
 <div class="Refund_detailed">
    <div class="Numbering">退款单编号:<b>{{refundOrder.orderId}}</b></div>
    <div class="detailed_style">
     <!--退款信息-->
     <div class="Receiver_style">
     <div class="title_name">买家信息</div>
     <div class="Info_style clearfix">
        <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款人姓名： </label>
         <div class="o_content">{{refundOrder.name}}</div>
        </div>
        <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款人电话： </label>
         <div class="o_content">{{refundOrder.phone}}</div>
        </div>
         <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款方式：</label>
         <div class="o_content">银联</div>
        </div>
         <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 租借天数：</label>
         <div class="o_content">{{refundOrder.day}}</div>
        </div>
         <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 快递名称：</label>
         <div class="o_content">
			 <div class="o_content" v-if="refundOrder.logisticsType === 'SF'">顺丰</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'YIMIDIDA'">壹米滴答</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'HTKY'">百世快递</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'ZTO'">中通</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'STO'">申通</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'YTO'">圆通</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'YD'">韵达</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'YZPY'">邮政平邮</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'EMS'">EMS</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'HHTT'">天天</div>
			 <div class="o_content" v-if="refundOrder.logisticsType === 'JD'">JD</div>
		 </div>
        </div>
         <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 快递单号：</label>
         <div class="o_content">3456789090</div>
        </div>
         <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款账户：</label>
         <div class="o_content">招商储蓄卡</div>
        </div>
        <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款账号：</label>
         <div class="o_content">345678*****5678</div>
        </div>
        <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款金额：</label>
         <div class="o_content">345元</div>
        </div>
        <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 退款日期：</label>
         <div class="o_content">2016-7-29</div>
        </div>
        <div class="col-xs-3">  
         <label class="label_name" for="form-field-2"> 状态：</label>
         <div class="o_content">
			 <label v-if="refundOrder.orderStatus === 10" style="width: 80px; height: 20px; color: black;">退货待处理</label>
			 <label v-if="refundOrder.orderStatus === 11" style="width: 80px; height: 20px; color: gray;">待对方退还</label>
			 <label v-if="refundOrder.orderStatus === 12 || refundOrder.status === 13" style="width: 80px; height: 20px; color: gray;">对方已退还</label>
			 <label v-if="refundOrder.orderStatus === 14" style="width: 50px; height: 20px; color: #2ECEE7;">待退款</label>
			 <label v-if="refundOrder.orderStatus === 15" style="width: 80px; height: 20px; color: #2ECEE7;">已拒绝退款</label>
			 <label v-if="refundOrder.orderStatus === 16" style="width: 80px; height: 20px; color: #2ECEE7;">已撤销退货</label>
			 <label v-if="refundOrder.orderStatus === 17" style="width: 110px; height: 20px; color red;">平台已介入退货</label>
			 <label v-if="refundOrder.orderStatus === 18" style="width: 80px; height: 20px; color: #E17B67;">换货待处理</label>
			 <label v-if="refundOrder.orderStatus === 19" style="width: 80px; height: 20px; color: goldenrod;">已拒绝换货</label>
			 <label v-if="refundOrder.orderStatus === 20" style="width: 80px; height: 20px; color: goldenrod;">已撤销换货</label>
			 <label v-if="refundOrder.orderStatus === 21" style="width: 110px; height: 20px; color: red;">平台已介入换货</label>
			 <label v-if="refundOrder.orderStatus === 22" style="width: 50px; height: 20px; color: green;">已完成</label>
		 </div>
        </div>
     </div>
    </div>
    <div class="Receiver_style">
    <div class="title_name">说明</div>
    <div class="reund_content">
      买家收到货,需要退货,如何退货呢--淘宝退款流程交易订单的交易状态是卖家已发货,有可能是因为产品问题或者其他原因需要退...  
    </div>
    </div>
    
    <!--产品信息-->
    <div class="product_style">
    <div class="title_name">产品信息</div>
    <div class="Info_style clearfix">
      <div class="product_info clearfix">
      <a href="#" class="img_link" style="height: 220px;"><img :src="product.picture" style="height: 218px;"/></a>
      <span>
      <a href="#" class="name_link">{{product.productTitle}}</a>
      <br>
      <b>{{product.introduction}}</b>
      <p>产地：{{product.originPlace}}</p>
      <p>成色：{{product.quality}}</p>
      <p>重量：{{product.productWeight}}g</p>
      <p>类别：{{product.category}}</p>
      <p>品牌：{{product.brand}}</p>
      <p>租金：<b class="price"><i>￥</i>{{product.rentPrice}}</b></p>   
      </span>
      </div>  
    </div>
    </div>
    </div>    
 </div>
</div>
</body>
</html>
